<h2 id="exercise-2" class="exercise__item exercise__item--title">Exercise 2</h2>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Add a new endpoint that returns a set of customers.</li>
      <markdown ngPreserveWhitespaces lineNumbers>
        ```json
        {{'{'}}
          "data": [
          {{'{'}}
              "id": "3880f788-4c03-4fd6-889f-95c09983710a",
              "firstName": "jon",
              "lastName": "doe",
              "phone": "132-123-1134",
              "email": "myEmail@email.com"
          {{'}'}},
          {{'{'}}
              "id": "3a8fbfc8-525a-49d9-9286-a8e4caf4f4a7",
              "firstName": "jon",
              "lastName": "doe",
              "phone": "132-123-1134",
              "email": "myEmail@email.com"
          {{'}'}},
          {{'{'}}
              "id": "c07de8fb-c873-421f-a383-5fb4f6bae479",
              "firstName": "Jesus",
              "lastName": "Juan",
              "phone": "132-123-1134",
              "email": "myEmail@email.com"
          {{'{'}}
          ]
        {{'}'}}
        ```
      </markdown>
      <li>Using JS, create a new class that represents the hapi server.</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
