<div class="exercise__item">
  <h2 id="exercise-2" class="exercise__item--title">Exercise 2</h2>
  <mat-checkbox class="exercise__checkbox" [(ngModel)]="snippets">Snippets</mat-checkbox>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Add a new endpoint that returns a set of customers.</li>
      <markdown *ngIf="snippets" ngPreserveWhitespaces lineNumbers>
        ```json
        {{'{'}}
          "data": [
          {{'{'}}
              "id": "3880f788-4c03-4fd6-889f-95c09983710a",
              "firstName": "jon",
              "lastName": "doe",
              "phone": "132-123-1134",
              "email": "myEmail@email.com"
          {{'}'}},
          {{'{'}}
              "id": "3a8fbfc8-525a-49d9-9286-a8e4caf4f4a7",
              "firstName": "jon",
              "lastName": "doe",
              "phone": "132-123-1134",
              "email": "myEmail@email.com"
          {{'}'}},
          {{'{'}}
              "id": "c07de8fb-c873-421f-a383-5fb4f6bae479",
              "firstName": "Jesus",
              "lastName": "Juan",
              "phone": "132-123-1134",
              "email": "myEmail@email.com"
          {{'{'}}
          ]
        {{'}'}}
        ```
      </markdown>
      <li>Using JS, create a new class that represents the hapi server.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Considerations
    </mat-expansion-panel-header>
    <ul>
      <li>The persistent layer don't need to be developed yet</li>
      <li>The new endpoint should return a list of mock customers</li>
      <li>The response should be returned in a valid JSON format</li>
      <li>The content-type should be set as application/json</li>
      <li>Use decorators to manipulate the response</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      References
    </mat-expansion-panel-header>
    <a href="https://hapijs.com/tutorials/getting-started?lang=en_US" class="ref-btn-link">HapiJS</a>
    <a href="https://hapijs.com/api#response-toolkit" class="ref-btn-link">Toolkit</a>
    <a href="https://hapijs.com/api#-hresponsevalue" class="ref-btn-link">Response Value</a>
    <a href="https://hapijs.com/api#-responsetypemimetype" class="ref-btn-link">Content-Type</a>
    <a href="https://hapijs.com/api#-serverdecoratetype-property-method-options" class="ref-btn-link">Decorate</a>

  </mat-expansion-panel>

</mat-accordion>
