<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="" class="navbar-brand node-logo">
    <img src="assets/img/nodejs.svg" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCourseContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a routerLink="es6" class="nav-link">ES6</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="nodeDropDown" role="button" data-toggle="dropdown">Node</a>
      <div class="dropdown-menu">
        <a routerLink="node/modules" class="dropdown-item">Modules</a>
      </div>
    </li>
    <li class="nav-item"><a routerLink="exercises" class="nav-link">Exercises</a></li>
  </ul>

</nav>
