<div class="app-container">
  <div class="page-content">
    <div class="jumbotron">
      <h1 class="display-4">Node Modules</h1>
      <p class="h5">
        A module is any file or directory in the <span class="badge badge-primary">node_modules</span> directory that can be loaded by the Node.js <span class="badge badge-primary">require()</span> function.
      </p>
      <p class="h5">
        To be loaded by the Node.js require() function, a module must be one of the following:
      </p>
      <ul>
        <li>
          A folder with a package.json file containing a "main" field.
        </li>
        <li>A folder with an index.js file in it.</li>
        <li>A JavaScript file.</li>
      </ul>
    </div>
  </div>
</div>
