<div class="exercise__item">
  <h2 id="exercise-4" class="exercise__item--title">Exercise 4</h2>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Add a new route to get a single customer</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>References</mat-panel-title>
    </mat-expansion-panel-header>
    <a href="https://hapijs.com/tutorials" class="ref-btn-link">HapiJS</a>
    <a href="https://hapijs.com/api#-requestpayload" class="ref-btn-link">Payload</a>
  </mat-expansion-panel>
</mat-accordion>
