<h2 id="exercise-6" class="exercise__item exercise__item--title">Exercise 6 <span class="badge badge-success">IN CLASS</span></h2>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Refactor the remaining customer routes to return the data from the db.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>References</mat-panel-title>
    </mat-expansion-panel-header>
    <a href="http://docs.sequelizejs.com/manual/models-usage.html" class="ref-btn-link">Sequelize Models Usage</a>
  </mat-expansion-panel>
</mat-accordion>
