<h2 id="exercise-9" class="exercise__item exercise__item--title">Exercise 9</h2>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Add request validators to all your routes.</li>
      <li>Add Documentation to all your apis.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>References</mat-panel-title>
    </mat-expansion-panel-header>
    <a href="https://www.npmjs.com/package/joi#example" class="ref-btn-link">joi</a>
    <a href="https://hapijs.com/api#-routeoptionsvalidate" class="ref-btn-link">Validating with joi</a>
  </mat-expansion-panel>
</mat-accordion>
