<h2 id="exercise-8" class="exercise__item exercise__item--title">Exercise 8</h2>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Add a default authentication scheme.</li>
      <li>Add authentication to the customer routes</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>References</mat-panel-title>
    </mat-expansion-panel-header>
    <a href="https://hapijs.com/api#-serverauthschemename-scheme" class="ref-btn-link">Auth schemes (token decoding logic)</a>
    <a href="https://hapijs.com/tutorials/auth?lang=en_US" class="ref-btn-link">Authentication tutorial</a>
  </mat-expansion-panel>
</mat-accordion>
