<div class="exercise__item">
  <h2 id="exercise-3" class="exercise__item--title">Exercise 3</h2>
  <mat-checkbox class="exercise__checkbox" [(ngModel)]="snippets">Snippets</mat-checkbox>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Requirements</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Register the routes as plugins.</li>
      <markdown *ngIf="snippets" ngPreserveWhitespaces lineNumbers>
      ```javascript
        const plugin = {{'{'}}
          name: 'test',
          version: '1.0.0',
          register: function (server, options) {{'{'}}
              server.route({{'{'}}
                method: 'GET',
                path: '/test',
                handler: function (request, h) {{'{'}}
                    return 'ok';
                {{'}'}}
              {{'}'}});
            {{'}'}}
        {{'}'}};
        ```
      </markdown>
      <li>Add <b>Blipp</b> for a better visualization of the available routes.</li>
      <markdown *ngIf="snippets" ngPreserveWhitespaces lineNumbers>
        ```javascript
        await server.register({{'{'}} plugin: Blipp, options: {{'{'}} showAuth: true {{'}'}} {{'}'}});
        ```
      </markdown>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Considerations</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Create a Router class to handle the routes</li>
      <li>Use factories to transform a Router into a hapi plugin</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>References</mat-panel-title>
    </mat-expansion-panel-header>
    <a href="https://hapijs.com/api#plugins" class="ref-btn-link">Plugins</a>
    <a href="https://www.npmjs.com/package/blipp#options" class="ref-btn-link">Blipp</a>
  </mat-expansion-panel>
</mat-accordion>
