<div class="app-container">
  <div class="page-content">
    <div class="jumbotron">
      <h1 class="display-4">ES6 Destructuring</h1>
      <hr class="my-4">
      Destructuring allows binding using pattern matching, with support for matching both arrays and objects.
      <app-runkit [source]="array"></app-runkit>
      <hr class="my-4">
      <app-runkit [source]="obj"></app-runkit>
      <hr class="my-4">
      Destructuring allows binding using pattern matching, with support for matching both arrays and objects.
      <app-runkit [preamble]="person" [source]="parameters"></app-runkit>
    </div>
  </div>
</div>
